In [1]:
import pandas as pd
from find_matching import find_matching

In [2]:
list1 =  ['Economically backward Students ---Nebs', 'SNO', 'None', 'None', 'None', 'None', 'Socially Challenged Students', 
          'Students Receiving Tuition fee Reimbursement from Govt.', 'Students Receiving Tuition fee Reimbursement from Institution ---Nif', 
          'Students Receiving Tuition fee Reimbursement from Private Bodies']

list2 = ['( A) + (B )', '( C ) + ( D ) + ( E )', 'Economically backward Students ---Nebs ( A)', 'Others', 'S.No', 
         'Socially Challenged Students (B )', 'Students Receiving Tuition fee Reimbursement from Govt. ( C ) ', 
         'Students Receiving Tuition fee Reimbursement from Institution ---Nif ( D ) ', 
         'Students Receiving Tuition fee Reimbursement from Private Bodies( E )', 'Visiting']

In [3]:
matched_phrases = find_matching(list1, list2)

In [4]:
df = pd.DataFrame(matched_phrases, columns = ['List1', 'List2'])

In [7]:
df

,List1,List2
0,Economically backward Students ---Nebs,Economically backward Students ---Nebs ( A)
1,SNO,S.No
2,None,S.No
3,None,S.No
4,None,S.No
5,None,S.No
6,Socially Challenged Students,Socially Challenged Students (B )
7,Students Receiving Tuition fee Reimbursement f...,Students Receiving Tuition fee Reimbursement f...
8,Students Receiving Tuition fee Reimbursement f...,Students Receiving Tuition fee Reimbursement f...
9,Students Receiving Tuition fee Reimbursement f...,Students Receiving Tuition fee Reimbursement f...